@import "tailwindcss";

:root {
  --background: #1a1818;
  --foreground: #ece7e1;
}

.dark {
  --background: #ece7e1;
  --foreground: #1a1818;
}

.bg-full {
  background-color: var(--foreground);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-geist-sans: "Geist Variable", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-geist-mono: "Geist Mono", monospace;
  --font-cormorant: "Cormorant Garamond", monospace;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1818;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-cormorant);
  transition: background-color 1s ease, color 1s ease;
}
